body {
	font-family: Arial, Helvetica, sans-serif;
	//background-color: #2570a8;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1, h2, h3, h4, h5 {
	color:#2570a8;
	font-weight: bold;
	font-style: normal;
}

input {
	background-color: #DEEDFC;
	text-align: right;
}

input:focus {
	border: 2px solid #2570a8;
}

fieldset {
	border: 1;
}


#Container {
	border: none;
	height: auto;
	margin: 0px auto;
	text-align: center;
  /* Commenting out for PureCSS reformat float: left; */
}

#Container label {
	color: #2570a8;
	font-weight: normal;
}

/* New Welcome Nav formatting */

#welcome_nav a {
	width: 200px;
	margin-bottom: 5px;
	background-color: #042037;
}

#welcome_nav {
	width: 100%;
}


/* Commenting out Nav formatting for PureCSS
#Nav {
	border: none;
	color: blue;
	width: 245px;
	height: auto;
	margin: 0px 20px 0px 0px;
	//background-color: #F1F8FF;
    float: left;
}


.main ul li {
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}

ul li {
border: 2px solid #2570a8;
border-radius: 35px;
background-color: #2570a8;
color: #F1F8FF;
padding: 10px;
width: 200px;
margin: 10px;
}

ul li a{
text-decoration: none;
color: #F1F8FF;
font-weight: bold;
padding: 10px;
}
*/

/* New menu formatting with PureCSS */

.pure-menu ul {

	text-align: center;
	background-color: #042037;
	width: 100%;
	color: #718EA4;

}

.pure-menu ul li a{
	color: white;
}

.pure-menu ul li a:hover {
	color: #042037;
}

.pure-menu-selected a {
	background-color: #718EA4;
}

/* End of new nav menu formatting */

/* Begin formatting for new explainer boxes. */
#ref_content {
	width: 1000px;
	margin: auto;
	margin-bottom: 10px;
}
#exp_box {
	width: 300px;
	height: 250px;
	text-align: left;
	display: inline-block;
	// border: 1px solid black;
	padding: 8px;
	margin: auto;
}
#rate_box {
	width: 300px;
	height: 250px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	// border: 1px solid black;
	padding: 8px;
	margin: auto;
}
#dw_box {
	width: 300px;
	height: 250px;
	text-align: left;
	// border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	padding: 8px;
	margin: auto;
	text-align: center;
}

.rate_emph {
	font-weight: bold;
}

.pure-table {
	width: 100%;
	margin: auto;
	font-size: 80%;
	text-align: center;
}

.pure-table th {
	text-align: center;
	background-color: #042037;
	color: white;
}

/* End of explainer box formatting */

/* New footer formatting for redesign */
#footer {
	font-size: 80%;
	border-top: 1px solid black;
	margin-top: 100px;
	text-align: center;
}


.accordion {
	color: #2570a8;
	height: 300px;
	width: 225px;
	overflow: auto;
	margin: 0px auto;
	font-size: 14px;
}

/* Commenting out to allow Pure CSS to handle table format
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #2570a8;

}

#day-week-ref {
	padding: 0px;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

*/

.ui-datepicker {
	font-size: 10px;
}


#Calculator {
	//background-color: #F1F8FF;
	/* Commenting out for PureCSS position: absolute; */
	color:#2570a8;
	border: 0px solid blue;
	border-radius: 35px;
	width: 700px;
	/* Added auto margin to center calculator */
	margin: auto;
	height: 480px;
}

legend {
	color: #2570a8;
	font-weight: bold;
}

.line_benefit {
	display:inline;
	float:left;
}
.line_benefit label{
	display: block;
	font-size: 65%;
	text-align: center;
}

.line_benefit input{
	font-size: 65%;
	border: 1px solid #2570a8;
}

.line_benefit input:focus {
	border: 2px solid #2570a8;
}

.benefit_row {
	clear: left;
	margin-left: auto;
	margin-right: auto;
}

#cola_calculator {
    width: 45%;
    float: left;
    margin-bottom: 20px;
}

#total-row {
	font-size: 80%;
	text-align: right;
	margin-right: 15px;
    width: 45%;
    float: right;
    margin-bottom: 20px;
}

#cola-inputs {
	font-size: 80%;
	text-align: left;
	margin-left: 15px;
}

#benefit-row-template {
    display: none;
}

#cola-table {
	font-size: 75%;
	width: 100%;
    color: #000;
}


.stripe-row { background-color: #DEEDFC; }
.alert { background-color: #F5AEBE; }
